<f:layout name="Backend" />

<f:section name="main">
 <h1><f:translate key="LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.title" /></h1>
 <f:flashMessages />
 <f:be.tableList tableName="tx_camaliga_domain_model_content" 
	 fieldList="{0: 'title', 1: 'image'}" storagePid="{pid}" levels="0" sortField="title" 
	 readOnly="true" enableClickMenu="true" clickTitleMode="info" alternateBackgroundColors="true" />

 <f:form action="importPicasa" name="import">
  <f:if condition="{imported}">
    <div>{imported} {f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.imported', default: 'imported')}</div>
  </f:if>
  <p>{f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.click')}</p>
  
  <f:for each="{result}" as="entry">
    <a href="javascript:document.import.elements['tx_camaliga_web_camaligaimports[importNr]'].value={entry.sorting};document.import.submit();"><img src="{entry.custom1}"
       alt="{entry.title}; {entry.image}" title="{entry.title}; {entry.image}" /></a>
  </f:for>
  
  <br /><br />
  {f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.userid', default: 'User ID')}: 
  <f:form.textfield name="userid" value="{userid}" size="25" />
  {f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.albumid', default: 'Album ID')}: 
  <f:form.textfield name="albumid" value="{albumid}" size="25" />
  {f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.start', default: 'Start')}: 
  <f:form.textfield name="start" value="{start}" size="5" />
  {f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.max', default: 'Max')}: 
  <f:form.textfield name="max" value="{max}" size="5" />
  {f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.imgsize', default: 'Img size')}: 
  <f:form.select name="imgsize" options="{94: '94', 110: '110', 128: '128', 200: '200', 220: '220', 288: '288', 320: '320', 400: '400', 512: '512', 576: '576', 640: '640', 720: '720', 800: '800', 912: '912', 1024: '1024', 1152: '1152', 1280: '1280', 1440: '1440', 1600: '1600'}" value="{imgsize}" />
  <f:form.hidden name="importNr" value="-1" id="import_nr" />
  <br />
  <f:form.submit name="set" value="{f:translate(key: 'LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:importPicasa.set', default: 'Set')}" />
 </f:form>
</f:section>


<f:form.textfield name="imgsize" value="{imgsize}" size="5" />
<f:debug>{importentry}</f:debug>
<f:for each="{entries}" as="entry">
  <f:debug>{entry}</f:debug>
</f:for>