<f:layout name="Default" />

This extended template is a gallery that requires jQuery + jQuery UI Easing and AD Gallery from here:
http://adgallery.codeplex.com/documentation
Note 1: copy the AD Gallery-files into your fileadmin-folder and include them via TypoScript!
  Remove that 2-3 things from this template after doing that...
Note 2: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPath = fileadmin/template/files/
  Copy this file in a subfolder named "Content" of this folder.
 
<f:section name="main">
<f:flashMessages />
<link href="{f:uri.resource(path:'css/Extended.css')}" rel="stylesheet" />
<link href="http://coffeescripter.com/code/ad-gallery/jquery.ad-gallery.css" rel="stylesheet" />
<script src="http://coffeescripter.com/code/ad-gallery/jquery.ad-gallery.js" type="text/javascript"></script>

<f:form action="adGalleryExtended" name="extbasecar">
<f:if condition="{contents -> f:count()} > 0">
<f:then>
  <div class="ad-my-desc">
  </div>
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
      <f:for each="{contents}" as="content" iteration="iteration">
            <li>
<a href="/uploads/tx_camaliga/{content.image}"><f:image src="/uploads/tx_camaliga/{content.image}" width="{settings.img.thumbWidth}m" alt="{content.title}" title="{content.title}" class="image{iteration.cycle}" /></a>
            </li>
      </f:for>
          </ul>
        </div>
      </div>
    </div>
    <div id="descriptions">
    </div>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>

  <div class="carousel_options">
  Sortieren nach:
  <f:form.select name="sortBy" options="{title: 'Stadt', sorting: 'Land', custom2: 'Baujahr'}" value="{sortBy_selected}" />
  &nbsp; Reihenfolge:
  <f:form.select name="sortOrder" options="{asc: 'Aufsteigend', desc: 'Absteigend'}" value="{sortOrder_selected}" />
  <br />
  <f:for each="{categories}" as="catitemVal" key="catitemKey">
    <f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
    <div class="ad-cat_item ad-{zebraClass}"><div class="ad-cat_title">{catitemVal.title}: </div><div class="ad-cat_elements">
    <f:if condition="{0:catitemVal.description} != {0:'checkbox'}">
      <label for="cat{catitemKey}_0" class="radio inline">
        <f:form.radio name="cat{catitemKey}" id="cat{catitemKey}_0" value="0" checked="{catitemVal.selected} == 0" />
        egal
      </label>
    </f:if>
    <f:for each="{catitemVal.childs}" as="catitemValChild" key="catitemKeyChild">
      <f:if condition="{0:catitemVal.description} == {0:'checkbox'}">
        <f:then>
          <label for="cat{catitemKey}_{catitemKeyChild}" class="checkbox inline">
          <f:form.checkbox name="cat{catitemKey}_{catitemKeyChild}" id="cat{catitemKey}_{catitemKeyChild}" value="{catitemKeyChild}" checked="{catitemValChild.selected} == {catitemKeyChild}" />
        </f:then>
        <f:else>
          <label for="cat{catitemKey}_{catitemKeyChild}" class="radio inline">
          <f:form.radio name="cat{catitemKey}" id="cat{catitemKey}_{catitemKeyChild}" value="{catitemKeyChild}" checked="{catitemVal.selected} == {catitemKeyChild}" />
        </f:else>
      </f:if>
      {catitemValChild.title}</label>
    </f:for>
    </div></div>
    </f:cycle>
  </f:for>
  <div class="ad-submit_wrapper">
  <f:form.submit name="search" value="{f:translate(key: 'search', default: 'search')}" class="submit" />
  <input type="hidden" name="no_cache" value="1" />
  </div><div class="clearer"> </div>
  </div>
</f:form>

<f:if condition="{contents -> f:count()} > 0">
<f:then>
<script type="text/javascript">
  $(function() {
  var desc = '';
  <f:for each="{contents}" as="content" iteration="iter">
desc = '<p>Custom var: {content.custom1}.';
<f:if condition="{0:content.custom2} != {0:''}">desc = desc+' Custom 2: {content.custom2}.';</f:if>
<f:if condition="{0:content.custom3} != {0:''}">desc = desc+' Custom 3: {content.custom3}.';</f:if>  
<f:if condition="{0:content.shortdesc} != {0:''}">desc = desc+' {content.shortdesc}';</f:if>
    <f:for each="{content.categories}" as="catMMval" key="catMMkey">
desc = desc+' {catMMval.title}: ';
      <f:for each="{catMMval.childs}" as="catMMchildVal" iteration="iteration"><f:if condition="{iteration.isFirst}">
<f:then>desc = desc+'{catMMchildVal}';</f:then><f:else>desc = desc+', {catMMchildVal}';</f:else></f:if></f:for>
desc = desc+'.';</f:for>
<f:if condition="{0:content.link} != {0:''}">desc = desc+' <a href="{content.link}" class="external-link-new-window">{f:translate(key: 'more', default: 'more')}</a>';</f:if>
desc = desc+'</p>';
$('img.image{iter.cycle}').data('ad-desc', desc);
  </f:for>
  
    var galleries = $('.ad-gallery').adGallery({
    hooks: {
    displayDescription: function(image) {
      $('.ad-my-desc').html('<h4>'+image.title+'</h4>'+image.desc);
    }
    }
  });
    $('#toggle-slideshow').click(
      function() {
        galleries[0].slideshow.toggle();
        return false;
      }
    );
  });
</script>
</f:then>
</f:if>
</f:section>

