<f:layout name="Default" />

This template is a gallery that requires jQuery + jQuery UI Easing and AD Gallery from here:
http://adgallery.codeplex.com/documentation
Download AD Gallery and include it like this with TypoScript:
page {
  includeJS.adgallery = fileadmin/template/ADGallery/lib/jquery.ad-gallery.js
  includeCSS.adgalcss = fileadmin/template/ADGallery/lib/jquery.ad-gallery.css
}
Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPath = fileadmin/template/files/
  Copy this file in a subfolder named "Content" of this folder.
 
<f:section name="main">
<f:flashMessages />

<f:if condition="{contents -> f:count()} > 0">
<f:then>
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
      <f:for each="{contents}" as="content" iteration="iteration">
            <li>
<a href="/uploads/tx_camaliga/{content.image}"><f:image src="/uploads/tx_camaliga/{content.image}" width="{settings.img.thumbWidth}m" alt="{content.title}" title="{content.title}" class="image{iteration.cycle}" /></a>
            </li>
      </f:for>
          </ul>
        </div>
      </div>
    </div>
    <div id="descriptions">
    </div>
    
<script type="text/javascript">
    var galleries = $('.ad-gallery').adGallery();
</script>
 
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>
