<f:layout name="Default" />

Note 1: copy the CSS-files into your fileadmin-folder and include them via TypoScript!
  Remove that 2 things from this template after doing that...
Note 2: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPath = fileadmin/template/files/
  Copy this file in a subfolder named "Content" of this folder.
Note 3: you can use pageUid="{settings.showId}" in link.action if you have a separeted single page.
  
<f:section name="main">
<f:flashMessages />
<link href="{f:uri.resource(path:'css/List.css')}" rel="stylesheet" />
<link href="{f:uri.resource(path:'css/Extended.css')}" rel="stylesheet" />

<f:form action="listExtended" name="extbasecar">
<f:if condition="{contents -> f:count()} > 0">
<f:then>
 <table class="carousel-list">
 <f:for each="{contents}" as="content">
  <tr>
   <td class="carousel-list-img">
	<f:image src="/uploads/tx_camaliga/{content.image}" maxHeight="{settings.img.thumbHeight}" alt="{content.title}" title="{content.title}" />
   </td>
   <td class="carousel-list-text">
	<div><b><f:link.action action="showExtended" arguments="{content : content}">{content.title}</f:link.action></b></div>
	<div>
		<f:if condition="{0:content.custom1} != {0:''}">Custom 1: {content.custom1}.</f:if>
		<f:if condition="{0:content.custom2} != {0:''}">Custom 2: {content.custom2}.</f:if>
		<f:if condition="{0:content.custom3} != {0:''}">Custom 3: {content.custom3}.</f:if>
		<f:if condition="{0:content.shortdesc} != {0:''}">{content.shortdesc}</f:if>
		<f:if condition="{0:content.link} != {0:''}"><a href="{content.link}">{f:translate(key: 'more', default: 'more')}</a></f:if>
	</div>
	<div>
	<f:if condition="{0:content.street} != {0:''}">Address: {content.street}, {content.zip} {content.city}, {content.country}.</f:if>
	</div>
	<div>
   	<f:for each="{content.categories}" as="catMMval" key="catMMkey">
		{catMMval.title}:
		<f:for each="{catMMval.childs}" as="catMMchildVal" iteration="iteration"><f:if condition="{iteration.isLast}">
			<f:then>{catMMchildVal}.</f:then><f:else>{catMMchildVal}, </f:else></f:if></f:for>
	</f:for>
	</div>
   </td>
  </tr>
 </f:for>
 </table>
 <p>{contents -> f:count()} entries found...</p>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>

<div class="carousel_options">
	Sort by:
	<f:form.select name="sortBy" options="{sorting: 'Standard', title: 'Title', city: 'City'}" value="{sortBy_selected}" />
	Sort order:
	<f:form.select name="sortOrder" options="{asc: 'ascending', desc: 'descending'}" value="{sortOrder_selected}" />
	<br />
  <f:for each="{categories}" as="catitemVal" key="catitemKey">
    {catitemVal.title}:
    <f:if condition="{0:catitemVal.description} != {0:'checkbox'}">
      <label for="cat{catitemKey}_0" class="radio inline">
        <f:form.radio name="cat{catitemKey}" id="cat{catitemKey}_0" value="0" checked="{catitemVal.selected} == 0" />
        every &nbsp;
      </label>
    </f:if>
    <f:for each="{catitemVal.childs}" as="catitemValChild" key="catitemKeyChild">
      <f:if condition="{0:catitemVal.description} == {0:'checkbox'}">
        <f:then>
          <label for="cat{catitemKey}_{catitemKeyChild}" class="checkbox inline">
          <f:form.checkbox name="cat{catitemKey}_{catitemKeyChild}" id="cat{catitemKey}_{catitemKeyChild}" value="{catitemKeyChild}" checked="{catitemValChild.selected} == {catitemKeyChild}" />
        </f:then>
        <f:else>
          <label for="cat{catitemKey}_{catitemKeyChild}" class="radio inline">
          <f:form.radio name="cat{catitemKey}" id="cat{catitemKey}_{catitemKeyChild}" value="{catitemKeyChild}" checked="{catitemVal.selected} == {catitemKeyChild}" />
        </f:else>
      </f:if>
      {catitemValChild.title}</label>
    </f:for>
    <br />
  </f:for>
  
  <f:if condition="{storagePIDsArray -> f:count()} > 1">
  <f:then>
  	<div class="ad-cat_item"><div class="ad-cat_title">Folder: </div><div class="ad-cat_elements">
	<f:for each="{storagePIDsData}" as="storagePIDarray2" key="storagePID">
      <label for="pid_{storagePID}" class="checkbox inline">
       <f:form.checkbox name="pid_{storagePID}" id="pid_{storagePID}" value="{storagePID}" checked="{storagePIDarray2.selected} == {storagePID}" />
       {storagePIDarray2.title}</label>
	</f:for>
	</div></div>
  </f:then>
  </f:if>

  <div class="ad-submit_wrapper">
  <f:form.submit name="search" value="{f:translate(key: 'search', default: 'search')}" class="submit" />
  <input type="hidden" name="no_cache" value="1" />
  </div>
</div>
</f:form>

</f:section>
